.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5dc;
}

.input {
    display: none;
}

.label {
    padding: 10px 20px;
    background-color: #8b4513;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.closeButton {
    display: block;
    margin-top: 20px;
    background-color: #8b4513;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #a0522d;
}