<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Page</title>
    <style>
        nav {
            display: flex;
            justify-content: space-around;
        }

        form input {
            width: 50%;
            margin: 10px;
            font-size: 18px;
        }

        form button {
            width: 50%;
            font-size: 18px;
            margin: 10px;
        }
    </style>
</head>

<body>

    <h1>Welcome to farmer add product</h1>

    <form action="/farmer/addproduct" method="POST">
        <input type="text" name="category" id="category" placeholder="Enter Product Category"><br>
        <input type="text" name="crop_name" id="crop_name" placeholder="Enter Product Crop Name"><br>
        <input type="number" name="quantity" id="quantity" placeholder="Enter Product Quantity"><br>
        <input type="text" name="base_price" id="base_price" placeholder="Enter Product Base Price"><br>
        <input type="text" name="moisture" id="moisture" placeholder="Enter Seller Moisture"><br>
        <input type="text" name="function_price" id="function_price" placeholder="Enter Products Function Price"><br>
        <input type="text" name="farmer_selected_price" id="farmer_selected_price" placeholder="Enter Products Farmer Set Price"><br>
        <button type="submit">Add Product</button>
    </form>

</body>

</html>